<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.dao.CgrkOrderMapper">

    <select id="getCgrqOrderList" resultType="com.kgc.entity.CgrkOrder">
        SELECT o.*,(SELECT userName FROM sys_user u WHERE o.createBy=u.userId)AS
        'demanderUserName',
        (SELECT userName FROM sys_user u WHERE o.approverBy=u.userId)AS 'approverUserName',
        (SELECT userName FROM sys_user u WHERE o.documenterBy=u.userId)AS 'documenterUserName',
        (SELECT userName FROM sys_user u WHERE o.updateBy=u.userId)AS 'updateUserName',
        s.type AS 'orderStatueName',
        (SELECT `name` FROM base_provider p WHERE p.id=o.providerId) AS 'providerName',
        co.`code` AS `sourceCode`,

        co.count,co.referenceAmount
        FROM cgrk_order o,order_statue s,cgdd_order co
        WHERE s.id=o.orderStatus
        AND  co.id=o.purchaseId
        <if test="code!=null and code!=''">
            and o.code like concat('%',#{code},'%')
        </if>
        <if test="subject!=null and subject!=''">
            and o.subject like concat('%',#{subject},'%')
        </if>
        <if test="providerId>0">
            and o.providerId=#{providerId}
        </if>
        <if test="startTime!=null and endTime!=null and startTime!='' and endTime!=''">
            and o.createTime BETWEEN #{startTime} AND #{endTime}
        </if>
        AND o.isDel=0
        <if test="voidState>-1">
            AND o.voidState=#{voidState}
        </if>
        <if test="approvalStatus>0">
            AND o.approvalStatus=#{approvalStatus}
        </if>
        order by o.createTime Desc
    </select>
</mapper>
