<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.dao.KcAlarmMapper">
    <select id="getKcAlarmList" resultType="KcAlarm">
        select id, code, warningType, warningCount, medicineId,(select name from base_medicine where medicineId = base_medicine.id) as medicineName,
               isKnow, createDate, createBy,(select userName from sys_user where kc_alarm.createBy = userId) as createName,
               handleDate, handleBy,(select userName from sys_user where kc_alarm.handleBy = userId) as updateName ,isDel, isRemind
        from kc_alarm
            <where>
            and isDel = 0
            <if test="code != null and code != ''">
               and code like concat("%",#{code},"%")
            </if>
            <if test="startTime!=null and endTime!=null and startTime!='' and endTime!=''">
                and createDate BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="warningType > 0">
                and warningType = #{warningType}
            </if>
            <if test="medicineId > 0">
                and medicineId = #{medicineId}
            </if>
            order by warningType desc
        </where>
    </select>
</mapper>
