<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.dao.KcMedicineMapper">
<!--    查询库存药品-->
   <select id="getKcMedicine" resultType="com.kgc.entity.KcMedicine">
        SELECT a.id,a.batchCode,a.storehouseId,a.`code`,a.medicineId,a.quantity,
               a.money,a.providerId,b.`name` medicineName,c.`name` providerName
        FROM kc_medicine a
        LEFT JOIN base_medicine b ON a.medicineId=b.id
        LEFT JOIN base_provider c ON a.providerId=c.id
        WHERE a.storehouseId=#{storehouseId}
        <if test="medicineName!=null and medicineName!=''">
            and b.`name` like concat('%',#{medicineName},'%')
        </if>
   </select>

   <select id="getKcMedicineByReportedCode" resultType="com.kgc.entity.KcMedicine">
       SELECT a.id,a.batchCode,a.storehouseId,a.`code`,a.medicineId,a.quantity,d.quantity reportedNum,
              a.money,a.providerId,b.`name` medicineName,c.`name` providerName,d.id
       FROM kc_medicine a
                LEFT JOIN base_medicine b ON a.medicineId=b.id
                LEFT JOIN base_provider c ON a.providerId=c.id
                LEFT JOIN kc_reporteddetail d ON a.batchCode=d.batchCode
       WHERE a.storehouseId=#{storehouseId} AND d.reportedCode=#{reportedCode} AND d.isDel=0
   </select>
    
    <update id="updateQuantityById" parameterType="com.kgc.entity.KcMedicine">
        UPDATE kc_medicine
        SET quantity=#{quantity}
        WHERE id=#{id}
    </update>




</mapper>