<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.dao.KcReportedMapper">
<!-- 报损库存列表查询-->
    <select id="getKcReportedList" resultType="com.kgc.entity.KcReported">
        SELECT
            a.id,
            a.`code`,
            a.storehouseId,
            f.name AS storehouseName,
            a.reportedTypeId,
            h.reportedName AS reportedTypeName,
            a.approverBy,
            a.approvalStatus,
            a.approverRemark,
            a.documenterBy,
            a.createTime,
            a.createBy,
            a.modificationTime,
            a.modificationBy,
            b.userName AS approverName,
            c.userName AS documenterName,
            d.userName AS createName,
            e.userName AS modificationName
        FROM
            kc_reported a
                LEFT JOIN
            sys_user b ON a.approverBy = b.userId
                LEFT JOIN
            sys_user c ON a.documenterBy = c.userId
                LEFT JOIN
            sys_user d ON a.createBy = d.userId
                LEFT JOIN
            sys_user e ON a.modificationBy = e.userId
                LEFT JOIN
            base_storehouse f ON a.storehouseId = f.id
                LEFT JOIN
            kc_reportedtype h ON a.reportedTypeId = h.id
        WHERE
            a.isDel = 0
        <if test="storehouseId>0">
            and a.storehouseId=#{storehouseId}
        </if>
        <if test="reportedTypeId>0">
            and a.reportedTypeId=#{reportedTypeId}
        </if>
        <if test="beginTime != null and beginTime != ''">
            and a.createTime BETWEEN #{beginTime} and #{endTime}
        </if>
        <if test="code != null and code != ''">
            and a.code like concat('%',#{code},'%')
        </if>

    </select>
<!--根据code模糊查询code-->
    <select id="getCodeByCode" resultType="String">
        SELECT
            a.code
        FROM
            kc_reported a
        WHERE
            a.code like concat('%',#{code},'%')
    </select>
<!--    仓库列表查询-->
    <select id="getStorehouseList" resultType="com.kgc.entity.BaseStorehouse">
        SELECT
            a.id,
            a.`name`,
            a.`code`,
            a.address,
            a.capacity,
            a.userId,
            a.createBy,
            a.createTime,
            a.updateBy,
            a.updateTime,
            a.isDel,
            b.userName AS createName,
            c.userName AS updateName
        FROM
            base_storehouse a
                LEFT JOIN
            sys_user b ON a.createBy = b.userId
                LEFT JOIN
            sys_user c ON a.updateBy = c.userId
        WHERE
            a.isDel = 0
    </select>
<!--    报损类型列表查询-->
    <select id="getReportedType" resultType="com.kgc.entity.KcReportedtype">
        SELECT
            a.id,
            a.reportedName
        FROM
            kc_reportedtype a
    </select>
<!--    添加报损-->
    <insert id="addKcReported" parameterType="com.kgc.entity.KcReported">
        INSERT INTO kc_reported(code,storehouseId,reportedTypeId,documenterBy,createTime,createBy)
        VALUES(#{code},#{storehouseId},#{reportedTypeId},#{documenterBy},now(),#{documenterBy})
    </insert>
<!--    添加报损明细-->
    <insert id="addKcReporteddetail" parameterType="com.kgc.entity.KcReporteddetail">
        INSERT INTO kc_reporteddetail(reportedCode,medicineId,quantity,batchCode)
        VALUES(#{reportedCode},#{medicineId},#{quantity},#{batchCode})
    </insert>
<!--    根据code查询报损信息-->
    <select id="getKcReportedByCode" resultType="com.kgc.entity.KcReported">
        SELECT
            a.id,
            a.`code`,
            a.storehouseId,
            f.name AS storehouseName,
            a.reportedTypeId,
            h.reportedName AS reportedTypeName,
            a.approverBy,
            a.approvalStatus,
            a.approverRemark,
            a.documenterBy,
            a.createTime,
            a.createBy,
            a.modificationTime,
            a.modificationBy,
            b.userName AS approverName,
            c.userName AS documenterName,
            d.userName AS createName,
            e.userName AS modificationName
        FROM
            kc_reported a
                LEFT JOIN
            sys_user b ON a.approverBy = b.userId
                LEFT JOIN
            sys_user c ON a.documenterBy = c.userId
                LEFT JOIN
            sys_user d ON a.createBy = d.userId
                LEFT JOIN
            sys_user e ON a.modificationBy = e.userId
                LEFT JOIN
            base_storehouse f ON a.storehouseId = f.id
                LEFT JOIN
            kc_reportedtype h ON a.reportedTypeId = h.id
        WHERE
            a.isDel = 0 AND a.`code`=#{code}

    </select>
    <select id="getKcReporteddetailByCode" resultType="com.kgc.entity.KcReporteddetail">
        SELECT
            a.id,
            a.reportedCode,
            a.medicineId,
            a.quantity,
            b.`name` AS medicineName
        FROM
            kc_reporteddetail a
                LEFT JOIN
            base_medicine b ON a.medicineId = b.id
        WHERE
            a.reportedCode=#{code}
    </select>

    <update id="updateReportedByCode" parameterType="com.kgc.entity.KcReported">
        UPDATE kc_reported
        SET
            approverBy=#{approverBy},
            reportedTypeId=#{reportedTypeId},
            approvalStatus=#{approvalStatus},
            approverRemark=#{approverRemark},
            modificationTime=now(),
            modificationBy=#{modificationBy}
        WHERE
            `code`=#{code}
    </update>
<!--    //删除报损明细-->
    <update id="delKcReporteddetailByCode" parameterType="com.kgc.entity.KcReporteddetail">
        UPDATE kc_reporteddetail
        SET
            isDel=1
        WHERE
            reportedCode=#{reportedCode}
    </update>
    <update id="delKcReportedByCode" parameterType="com.kgc.entity.KcReported">
        UPDATE kc_reported
        SET
            isDel=1
        WHERE
            `code`=#{code}
    </update>


</mapper>