<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.dao.StockDetailMapper">
    <select id="getStockDetailListByPage" resultType="com.kgc.entity.BaseMedicine">
        select b.id,b.name,categoryId,unitId,salePrice,specification,warning,un.name as unitName,mc.name as categoryName,
               kc.quantity as stock,kc.batchCode,kc.storehouseId,bs.name as storehouseName,
               b.createBy,b.createTime,b.updateBy,b.updateTime,
               c.userName as createByName,u.userName as updateByName
        from base_unit un,base_medicine_category mc,kc_medicine kc,base_storehouse bs,base_medicine b
              LEFT JOIN sys_user c on b.createBy=c.userId
              LEFT JOIN sys_user u on b.updateBy=u.userId
        where b.categoryId=mc.id and b.unitId=un.id and kc.medicineId=b.id and kc.`storehouseId`=bs.`id`
          and b.isDel=0  and un.isDel=0 and mc.isDel=0 and kc.isDel=0 and bs.isDel=0 and c.isDel=0 and u.isDel=0
    </select>

    <update id="reduceStockDetailByMedicineId">
        UPDATE `pharmacy`.`kc_medicine` SET `quantity` =quantity-#{quantity} WHERE medicineId=#{medicineId} and batchCode=#{batchCode}
    </update>

    <update id="addStockDetailByMedicineId">
        UPDATE `pharmacy`.`kc_medicine` SET `quantity` =quantity+#{quantity} WHERE medicineId=#{medicineId} and batchCode=#{batchCode}
    </update>

    <select id="getStockDetailList" resultType="com.kgc.vo.MedicineStockVo">
        select b.name,salePrice,specification,warning,un.name as unitName,mc.name as categoryName,
               kc.quantity as stock,kc.batchCode,bs.name as storehouseName,
               b.createTime,b.updateTime,
               c.userName as createByName,u.userName as updateByName
        from base_unit un,base_medicine_category mc,kc_medicine kc,base_storehouse bs,base_medicine b
              LEFT JOIN sys_user c on b.createBy=c.userId
              LEFT JOIN sys_user u on b.updateBy=u.userId
        where b.categoryId=mc.id and b.unitId=un.id and kc.medicineId=b.id and kc.`storehouseId`=bs.`id`
          and b.isDel=0  and un.isDel=0 and mc.isDel=0 and kc.isDel=0 and bs.isDel=0 and c.isDel=0 and u.isDel=0
    </select>

</mapper>