<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.dao.BaseMedicineMapper">

    <select id="getBaseMedicineList" resultType="BaseMedicine">
        select id,name,type,measureId,b.isDel,sale,specification,warning,b.createBy,createTime,b.updateBy,updateTime,
               c.userName as createByName,u.userName as updateByName
        from base_medicine b
                 LEFT JOIN sys_user c on b.createBy=c.userId LEFT JOIN sys_user u on b.updateBy=u.userId
        where b.isDel=0 and c.isDel=0 and u.isDel=0
    </select>


</mapper>
