<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.dao.StoreHouseMapper">
    <select id="getStoreHouseList" resultType="StoreHouse">
        select id,
            name,
            address,
            capacity,
            userId,
        store.createBy,
        store.createTime,
        store.updateBy,
        store.updateTime,
        store.isDel,
            code
        from base_storehouse store,sys_user user
        <where>
            store.userId = user.userId  isDel = 0
        <if test="code != null and code != ''">
            code like concat("%",#{code},"%")
        </if>
        order by store.createTime desc
        </where>
    </select>

    <update id="deleteStorehouse">
        update base_storehouse set isDel = 1 where id = #{id}
    </update>

    <select id="checkName" resultType="StoreHouse">
        select id,
               name,
               address,
               capacity,
               userId,
               createBy,
               createTime,
               updateBy,
               updateTime,
               isDel,
               code
        from base_storehouse where isDel = 0 and name = #{name}
    </select>
</mapper>