<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.dao.CgsqOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kgc.entity.CgsqOrder" autoMapping="true">
        <id column="id" property="id"/>
        <collection property="medicineList" ofType="com.kgc.entity.BaseMedicine" autoMapping="true">
            <result column="medicineIdTemp" property="id"/>
        </collection>
    </resultMap>

    <select id="getCgsqOrderList" resultType="com.kgc.entity.CgsqOrder">
        SELECT o.*,t.name AS 'cgtype',(SELECT userName FROM sys_user u WHERE o.demanderBy=u.userId)AS
        'demanderUserName',
        (SELECT userName FROM sys_user u WHERE o.approverBy=u.userId)AS 'approverUserName',
        (SELECT userName FROM sys_user u WHERE o.documenterBy=u.userId)AS 'documenterUserName',
        (SELECT userName FROM sys_user u WHERE o.updateBy=u.userId)AS 'updateUserName',
        s.type AS 'orderStatueName'
        FROM cgsq_order o,cg_type t,order_statue s
        WHERE o.type=t.id
        AND s.id=o.orderStatus
        <if test="code!=null and code!=''">
            and o.code like concat('%',#{code},'%')
        </if>
        <if test="subject!=null and subject!=''">
            and o.subject like concat('%',#{subject},'%')
        </if>
        <if test="type>0">
            and o.type=#{type}
        </if>
        <if test="startTime!=null and endTime!=null and startTime!='' and endTime!=''">
            and o.createTime BETWEEN #{startTime} AND #{endTime}
        </if>
           AND o.isDel=0
        <if test="voidState>-1">
            AND o.voidState=#{voidState}
        </if>
        <if test="approvalStatus>0">
            AND o.approvalStatus=#{approvalStatus}
        </if>
         order by o.createTime Desc
    </select>
    <select id="getCgSqOrderById" resultMap="BaseResultMap">
        SELECT o.*,t.name AS 'cgtype',(SELECT userName FROM sys_user u WHERE o.demanderBy=u.userId)AS
                             'demanderUserName',
               (SELECT userName FROM sys_user u WHERE o.approverBy=u.userId)AS 'approverUserName',
               (SELECT userName FROM sys_user u WHERE o.documenterBy=u.userId)AS 'documenterUserName',
               (SELECT userName FROM sys_user u WHERE o.updateBy=u.userId)AS 'updateUserName',
               m.medicineId AS medicineIdTemp,m.*,(SELECT price  FROM provider_medicine u WHERE m.medicineId=u.medicineId AND m.providerId=u.providerId) AS 'purchasePrice'
        FROM cgsq_order o,cg_type t,order_statue s,order_medicine m
        WHERE o.type=t.id
          AND s.id=o.orderStatus
          AND o.`code`=m.`code`
          AND o.id=#{id}
    </select>

    <select id="getCgsqOrderByCode" resultType="CgsqOrder">
        SELECT o.*,t.name AS 'cgtype',(SELECT userName FROM sys_user u WHERE o.demanderBy=u.userId)AS
                             'demanderUserName',
               (SELECT userName FROM sys_user u WHERE o.approverBy=u.userId)AS 'approverUserName',
               (SELECT userName FROM sys_user u WHERE o.documenterBy=u.userId)AS 'documenterUserName',
               (SELECT userName FROM sys_user u WHERE o.updateBy=u.userId)AS 'updateUserName'
        FROM cgsq_order o,cg_type t,order_statue s
        WHERE o.type=t.id
          AND s.id=o.orderStatus
          AND o.code=#{code}
    </select>

    <select id="getCgsqOrderByStates" resultType="CgsqOrder">
        SELECT o.*,t.name AS 'cgtype',(SELECT userName FROM sys_user u WHERE o.demanderBy=u.userId)AS
        'demanderUserName',
        (SELECT userName FROM sys_user u WHERE o.approverBy=u.userId)AS 'approverUserName',
        (SELECT userName FROM sys_user u WHERE o.documenterBy=u.userId)AS 'documenterUserName',
        (SELECT userName FROM sys_user u WHERE o.updateBy=u.userId)AS 'updateUserName',
        s.type AS 'orderStatueName'
        FROM cgsq_order o,cg_type t,order_statue s
        WHERE o.type=t.id
        AND s.id=o.orderStatus and o.orderStatus = 3
        <if test="code!=null and code!=''">
            and o.code like concat('%',#{code},'%')
        </if>
        <if test="subject!=null and subject!=''">
            and o.subject like concat('%',#{subject},'%')
        </if>
        <if test="type>0">
            and o.type=#{type}
        </if>
        <if test="startTime!=null and endTime!=null and startTime!='' and endTime!=''">
            and o.createTime BETWEEN #{startTime} AND #{endTime}
        </if>
        AND o.isDel=0
        order by o.createTime Desc
    </select>
</mapper>
