<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.dao.ProcurementOrderMapper">
    <select id="getCgddOrder" parameterType="CgddOrder" resultType="CgddOrder">
        select id, code, subject, type,
                (select 'name' from cg_type ct where ct.id = a.type ) as cgType,
               (SELECT `name` FROM cg_type b WHERE a.type = b.id) AS orderTypeName,demanderBy,
               (SELECT `userName` FROM sys_user c WHERE a.demanderBy = c.userId) AS OrderTypeName,demandTime,
               count, referenceAmount, orderStatus, approvalStatus, remark, effectiveTime, approverBy,
               (SELECT `userName` FROM sys_user c WHERE a.approverBy = c.userId),approverRemark, documenterBy,
               (SELECT `userName` FROM sys_user c WHERE a.documenterBy = c.userId) AS documenterName, voidState,
               createTime, updateBy,(SELECT `userName` FROM sys_user c WHERE a.updateBy = c.userId) AS updateName,
               updateTime, providerId,(SELECT `name` FROM base_provider b WHERE b.id = a.providerId) AS providerName,
               contactperson, phone, fax, email, deliveryDate, deliveryBy,
               (SELECT `userName` FROM sys_user c WHERE a.deliveryBy = c.userId) AS deliveryName, payType, payTime, isPay
               from cgdd_order AS a
                <where>
                    a.isDel = 0
               <if test="code != null and code != ''">
                    and code like concat("%", #{code},"%")
               </if>
                <if test="beginTime != null and beginTime != ''">
                   and demandTime BETWEEN #{beginTime} and #{endTime}
                </if>
                <if test="orderStatus > 0">
                    and orderStatus=#{orderStatus}
                </if>
                 <if test="providerId > 0">
                     and providerId=#{providerId}
                 </if>
                <if test="type > 0">
                     and type=#{type}
                </if>
            </where>
        order by  a.createTime desc
    </select>

    <select id="getCgddByCode" resultType="CgddOrder">
        select id, code, subject, type,
               (SELECT `name` FROM cg_type b WHERE a.type = b.id) AS OrderTypeName,demanderBy,
               (SELECT `userName` FROM sys_user c WHERE a.demanderBy = c.userId) AS demanderName,demandTime,
               count, referenceAmount, orderStatus, approvalStatus, remark, effectiveTime, approverBy,
               (SELECT `userName` FROM sys_user c WHERE a.approverBy = c.userId) as approverName,approverRemark, documenterBy,
               (SELECT `userName` FROM sys_user c WHERE a.documenterBy = c.userId) AS documenterName, voidState,
               createTime, updateBy,(SELECT `userName` FROM sys_user c WHERE a.updateBy = c.userId) AS updateName,
               updateTime, providerId,(SELECT `name` FROM base_provider b WHERE b.id = a.providerId) AS providerName,
               contactperson, phone, fax, email, deliveryDate, deliveryBy,
               (SELECT `userName` FROM sys_user c WHERE a.deliveryBy = c.userId) AS deliveryName, payType, payTime, isPay
        from cgdd_order AS a where a.isDel = 0 and code = #{code}
    </select>

    <select id="getCgPayCom"  resultType="CgPayCom">
    SELECT
      CASE
        WHEN isPay = '0' THEN '未支付'
        ELSE '已支付'
      END AS paymentStatus,
      COUNT(*) AS orderCount,
      IFNULL(SUM(CASE WHEN isPay = '1' THEN referenceAmount ELSE 0 END), 0) AS totalAmount
    FROM
      cgdd_order
    WHERE
      isDel = 0
      <if test="year!=null and year!=''">
          AND YEAR(createTime) = #{year}
      </if>
        <if test="month!=null and month!=''">
            AND MONTH(createTime) = #{month}
        </if>
    GROUP BY
      CASE
        WHEN isPay = '0' THEN '未支付'
        ELSE '已支付'
      END;
  </select>

    <select id="getCgPayNum" resultType="CgPayNum">
        SELECT
        YEAR(createTime) AS year,
        MONTH(createTime) AS month,
        COUNT(*) AS allPayCount,
        SUM(CASE WHEN isPay = 1 THEN 1 ELSE 0 END) AS paidCount,
        SUM(CASE WHEN isPay = 0 THEN 1 ELSE 0 END) AS unpaidCount,
        SUM(CASE WHEN isPay = 1 THEN referenceAmount ELSE 0 END) AS totalPaidAmount,
        SUM(CASE WHEN isPay = 0 THEN referenceAmount ELSE 0 END) AS totalUnpaidAmount
        FROM
        cgdd_order
        WHERE
        isDel = 0
        <if test="year!=null and year!=''">
            AND YEAR(createTime) = #{year}
        </if>
        GROUP BY
        year,
        month
        ORDER BY
        month
    </select>

    <select id="imExcel" resultType="com.kgc.vo.CgddVO">
        select id, code, subject, type,
               (select 'name' from cg_type ct where ct.id = a.type ) as cgType,
               (SELECT `name` FROM cg_type b WHERE a.type = b.id) AS orderTypeName,demanderBy,
               (SELECT `userName` FROM sys_user c WHERE a.demanderBy = c.userId) AS OrderTypeName,demandTime,
               count, referenceAmount, orderStatus, approvalStatus, remark, effectiveTime, approverBy,
               (SELECT `userName` FROM sys_user c WHERE a.approverBy = c.userId),approverRemark, documenterBy,
               (SELECT `userName` FROM sys_user c WHERE a.documenterBy = c.userId) AS documenterName, voidState,
               createTime, updateBy,(SELECT `userName` FROM sys_user c WHERE a.updateBy = c.userId) AS updateName,
               updateTime, providerId,(SELECT `name` FROM base_provider b WHERE b.id = a.providerId) AS providerName,
               contactperson, phone, fax, email, deliveryDate, deliveryBy,
               (SELECT `userName` FROM sys_user c WHERE a.deliveryBy = c.userId) AS deliveryName, payType, payTime, isPay
        from cgdd_order AS a
    </select>
</mapper>