<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.dao.CheckHintMapper">
    
    <select id="getcgdd" resultType="com.kgc.entity.CheckHint">
       <![CDATA[
        SELECT
            '采购订单' AS tableName,
            a.code,
            a.documenterBy,
            COALESCE(su.userName, '未知用户') AS documenterName,
            b.path,
            b.component
        FROM
            cgdd_order a
                LEFT JOIN sys_user su ON a.documenterBy = su.userId
                CROSS JOIN (
                SELECT id, path, component FROM sys_menu WHERE menuname = '采购订单' AND type = 1 AND isDel = 0
            ) b
        WHERE
            a.isDel = 0 AND a.approvalStatus IS NULL
        ORDER BY
            a.createTime ASC
        LIMIT 1;
        ]]>
    </select>
    
    <select id="getcgrk" resultType="com.kgc.entity.CheckHint">
        SELECT
            '采购入库' AS tableName,
            a.code,
            a.documenterBy,
            COALESCE(su.userName, '未知用户') AS documenterName,
            m.path,
            m.component
        FROM cgrk_order a
                 LEFT JOIN sys_user su ON a.documenterBy = su.userId
                 CROSS JOIN (
            SELECT path, component
            FROM sys_menu
            WHERE menuname = '采购入库' AND type = 1 AND isDel = 0
        ) m
        WHERE a.isDel = 0 AND a.approvalStatus = 0
        ORDER BY a.createTime ASC
        LIMIT 1;
    </select>
    
    <select id="getcgsq" resultType="com.kgc.entity.CheckHint">
        SELECT
            '采购申请' AS tableName,
            a.code,
            a.documenterBy,
            COALESCE(su.userName, '未知用户') AS documenterName,
            m.path,
            m.component
        FROM cgsq_order a
                 LEFT JOIN sys_user su ON a.documenterBy = su.userId
                 CROSS JOIN (
            SELECT path, component
            FROM sys_menu
            WHERE menuname = '采购申请' AND isDel = 0
        ) m
        WHERE a.isDel = 0 AND a.approvalStatus =0
        ORDER BY a.createTime ASC
        LIMIT 1;
    </select>
    
    <select id="getkcDispatch" resultType="com.kgc.entity.CheckHint">
        SELECT
            '库存调度' AS tableName,
            a.code,
            a.documenterBy,
            COALESCE(su.userName, '未知用户') AS documenterName,
            m.path,
            m.component
        FROM kc_dispatch a
                 LEFT JOIN sys_user su ON a.documenterBy = su.userId
                 CROSS JOIN (
            SELECT path, component
            FROM sys_menu
            WHERE menuname = '库存调度' AND isDel = 0
        ) m
        WHERE a.isDel = 0 AND a.approvalStatus = 0
        ORDER BY a.createDate ASC
        LIMIT 1;
    </select>
    
    <select id="getkcKeported" resultType="com.kgc.entity.CheckHint">
        SELECT
            '库存报损' AS tableName,
            a.code,
            a.documenterBy,
            COALESCE(su.userName, '未知用户') AS documenterName,
            m.path,
            m.component
        FROM kc_reported a
                 LEFT JOIN sys_user su ON a.documenterBy = su.userId
                 LEFT JOIN sys_menu m ON m.menuname = '库存报损' AND m.isDel = 0
        WHERE a.isDel = 0 AND a.approvalStatus = 0
        ORDER BY a.createTime ASC
        LIMIT 1;

    </select>
    
    <select id="getxsOrder" resultType="com.kgc.entity.CheckHint">
        SELECT
            '销售订单' AS tableName,
            a.orderNo AS `code`,
            a.createBy AS documenterBy,
            COALESCE(su.userName, '未知用户') AS documenterName,
            m.path,
            m.component
        FROM xs_order a
                 LEFT JOIN sys_user su ON a.createBy = su.userId
                 LEFT JOIN sys_menu m ON m.menuname = '销售订单'
        WHERE a.isDelete = 0 AND a.isCheck = 0
        ORDER BY a.orderDate ASC
        LIMIT 1;
    </select>
            

</mapper>
