<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.dao.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kgc.entity.SysMenu">
        <id column="id" property="id" />
        <result column="path" property="path" />
        <result column="type" property="type" />
        <result column="menuname" property="menuname" />
        <result column="statu" property="statu" />
        <result column="createDate" property="createdate" />
        <result column="createBy" property="createby" />
        <result column="updateDate" property="updatedate" />
        <result column="updateBy" property="updateby" />
        <result column="isDel" property="isdel" />
        <result column="parentId" property="parentid" />
        <result column="perms" property="perms" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, path, type, menuname, statu, createDate, createBy, updateDate, updateBy, isDel, parentId, perms
    </sql>
    <select id="getNavMenuIds" resultType="java.lang.Integer">
        SELECT
            DISTINCT rm.menuId
        FROM
            sys_userrole ur
                LEFT JOIN sys_rolemenu rm ON ur.roleId = rm.roleId
        WHERE ur.userId = #{userId}
    </select>
    <select id="getMenuListByToken" resultType="com.kgc.entity.SysMenu">
        select DISTINCT m.* ,menuname as title,perms as name from sys_menu m,sys_rolemenu r,sys_userrole u WHERE m.id = r.menuId and r.roleId=u.roleId and m.isDel=0
        <if test="userId>0">
            and u.userId=#{userId}
        </if>
        and m.type IN(0,1)
    </select>



    <select id="getAllMenuList" resultType="com.kgc.entity.SysMenu">
        select m.* ,menuname as title,perms as name from sys_menu m WHERE  m.isDel=0
    </select>

    <select id="exsitMenuName" resultType="com.kgc.entity.SysMenu">
        select *  from sys_menu  WHERE  isDel=0 and menuname =#{menuname}
        <if test="id>0">
            and id NOT IN (#{id})
        </if>
        and type !=2
    </select>
    <select id="exsitMenuPerms" resultType="com.kgc.entity.SysMenu">
        select *  from sys_menu  WHERE  isDel=0 and perms =#{perms}
        <if test="id>0">
            and id NOT IN (#{id})
        </if>
    </select>


</mapper>
