<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.dao.KcDispatchMapper">
    <select id="getKcDispathList" resultType="KcDispatch">
        select id, code, subject, price, beforeWarehouseId,(select name from base_storehouse where kd.beforeWarehouseId = base_storehouse.id) as beforeWareName,
        remark, approverBy,(select userName from sys_user where approverBy = userId) as approverName,approvalStatus, approverRemark,
        documenterBy, (select userName from sys_user where documenterBy = userId) as createName,voidState, createDate,
         updateDate, updateBy, (select userName from sys_user where kd.updateBy = userId) as updateName,orderStatus,
         (select type from order_statue where orderStatus = order_statue.id) as orderStatusResult,
        (select userName from sys_user where dispatchBy = userId) as dispatchName,dispatchBy
        from kc_dispatch kd
        <where>
            kd.isDel = 0
        <if test="code != null and code != '' ">
            and code like concat("%",#{code},"%")
        </if>
        <if test="beforeWarehouseId > 0">
            and beforeWarehouseId = #{beforeWarehouseId}
        </if>
        <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
            and createDate BETWEEN #{startTime} and #{endTime}
        </if>
        <if test="orderStatus > 0">
            and orderStatus=#{orderStatus}
        </if>
        <if test="approvalStatus > 0">
            and approvalStatus=#{approvalStatus}
        </if>
        <if test="subject != null and subject != '' ">
            and subject like concat("%",#{subject},"%")
        </if>
        </where>
        order by createDate desc
    </select>

    <select id="selectById" resultType="KcDispatch">
        select id, code,dispatchTime,totalCount, subject, price, beforeWarehouseId,(select name from base_storehouse where kd.beforeWarehouseId = base_storehouse.id) as beforeWareName,
               remark, approverBy,(select userName from sys_user where approverBy = userId) as approverName,approvalStatus, approverRemark,
               documenterBy, (select userName from sys_user where documenterBy = userId) as createName,voidState, createDate,
               updateDate, updateBy, (select userName from sys_user where kd.updateBy = userId) as updateName,orderStatus,
               (select type from order_statue where orderStatus = order_statue.id) as orderStatusResult,
               (select userName from sys_user where dispatchBy = userId) as dispatchName,dispatchBy
        from kc_dispatch kd
        where kd.id = #{id}
    </select>

    <select id="excelDispatch" resultMap="BaseResultMap">
        select kd.id, code,(select userName from sys_user where dispatchBy = userId) as dispatchName, subject, kd.price, beforeWarehouseId,(select name from base_storehouse where kd.beforeWarehouseId = base_storehouse.id) as beforeWareName,
               remark, approverBy,(select userName from sys_user where approverBy = userId) as approverName,approvalStatus, approverRemark,
               documenterBy, (select userName from sys_user where documenterBy = userId) as createName,voidState, createDate,
               updateDate, updateBy, (select userName from sys_user where kd.updateBy = userId) as updateName,orderStatus,
               (select type from order_statue where orderStatus = order_statue.id) as orderStatusResult,
               kt.medicineId as medicineIdTemp,(select base_medicine.specification from base_medicine where medicineId = base_medicine.id) as specification,
               (select (select name from base_medicine_category where categoryId = base_medicine_category.id) from base_medicine where medicineId = base_medicine.id) as categoryName,
               kt.quantity, (select (select name from base_unit where unitId = base_unit.id) from base_medicine where medicineId = base_medicine.id) as unitName,
               kt.price as purchasePrice,(select name from base_medicine where kt.medicineId = base_medicine.id) as name
        from kc_dispatch kd,kc_dispatchdetails kt
        where kd.code = kt.dispatchCode
    </select>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kgc.vo.DispatchExcelVO" autoMapping="true">
        <id column="id" property="id"/>
        <collection property="medicineList" ofType="com.kgc.vo.DispatchMedicineVO" autoMapping="true">
            <result column="medicineIdTemp" property="id"/>
        </collection>
    </resultMap>
</mapper>