<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.dao.BaseMedicineMapper">

    <select id="getBaseMedicineListByPage" resultType="BaseMedicine">
        select b.id,b.name,categoryId,unitId,salePrice,specification,warning,b.createBy,b.createTime,b.updateBy,b.updateTime,
        un.name as unitName,mc.name as categoryName,
        c.userName as createByName,u.userName as updateByName
        from base_medicine b
        LEFT JOIN sys_user c on b.createBy=c.userId
        LEFT JOIN sys_user u on b.updateBy=u.userId,
        base_unit un,base_medicine_category mc
        where b.categoryId=mc.id and b.unitId=un.id and b.isDel=0 and c.isDel=0 and u.isDel=0 and un.isDel=0 and mc.isDel=0
        <if test="id!=null and id>0">and b.id=#{id}</if>
        <if test="name!=null and name!=''">and b.name like concat('%',#{name},'%')</if>
        <if test="categoryId!=null and categoryId>0">and categoryId=#{categoryId}</if>
        <if test="specification!=null and specification!=''">and specification like concat('%',#{specification},'%')</if>
        <if test="unitId!=null and unitId>0">and unitId=#{unitId}</if>
    </select>

    <select id="getMedicineListByCode" resultType="com.kgc.entity.BaseMedicine">
        SELECT b.*,o.quantity,o.totalPrice,o.code,o.providerId,bpt.type AS providerName,
        b.createBy,b.createTime,b.updateBy,b.updateTime,
        un.name as unitName,mc.name as categoryName,
        getMedicineListByCode
        as createByName, (SELECT userName FROM sys_user u WHERE b.updateBy=u.userId) as updateByName,
        p.price AS purchasePrice,
        o.sourceCode,o.id as medicineOrderId
        from base_medicine b,
        base_unit un,base_medicine_category mc,order_medicine o,base_provider bp,base_provider_type bpt,provider_medicine p
        where  o.medicineId=b.id and b.categoryId=mc.id and b.unitId=un.id and o.providerId = bp.id and bp.type = bpt.id and b.isDel=0 and un.isDel=0 and mc.isDel=0
        and p.providerId = o.providerId  and o.medicineId = p.medicineId
        #         FROM base_medicine m,order_medicine o
        #         WHERE o.medicineId=m.id
        AND o.code=#{code}
    </select>
    <select id="getBaseMedicineListByProviderId" resultType="com.kgc.entity.BaseMedicine">
        select DISTINCT b.id,b.name,categoryId,unitId,salePrice,specification,warning,b.createBy,b.createTime,b.updateBy,b.updateTime,
        un.name as unitName,mc.name as categoryName,
        c.userName as createByName,u.userName as updateByName,
        p.price AS purchasePrice
        from base_medicine b
        LEFT JOIN sys_user c on b.createBy=c.userId
        LEFT JOIN sys_user u on b.updateBy=u.userId,
        base_unit un,base_medicine_category mc,provider_medicine p
        where b.categoryId=mc.id and b.unitId=un.id and b.isDel=0 and c.isDel=0 and u.isDel=0 and un.isDel=0 and mc.isDel=0
        AND p.medicineId=b.id
        AND p.providerId=#{providerId}
    </select>
    <select id="getBaseMedicineById" resultType="com.kgc.entity.BaseMedicine">
        select DISTINCT b.id,b.name,categoryId,unitId,salePrice,specification,warning,b.createBy,b.createTime,b.updateBy,b.updateTime,
        c.userName as createByName,u.userName as updateByName,
        un.name as unitName,mc.name as categoryName,k.quantity as stock
        from base_medicine b
        LEFT JOIN sys_user c on b.createBy=c.userId
        LEFT JOIN sys_user u on b.updateBy=u.userId,
        base_unit un,base_medicine_category mc,kc_medicine k
        where b.categoryId=mc.id and b.unitId=un.id and k.medicineId=b.id
        and b.isDel=0 and c.isDel=0 and u.isDel=0 and un.isDel=0 and mc.isDel=0 and k.isDel=0
        and b.id=#{id} and k.batchCode=#{batchCode}
    </select>

    <select id="getAllBaseMedicine" resultType="com.kgc.entity.BaseMedicine">
        select DISTINCT base_medicine.* FROM base_medicine,kc_medicine where kc_medicine.medicineId=base_medicine.id and storehouseId=1
    </select>

    <select id="getAllBatchCodeByMedicineId" resultType="com.kgc.entity.BaseMedicine">
        select kc_medicine.* FROM kc_medicine where medicineId=#{medicineId}
    </select>

    <select id="getMedicineVOListByCode" resultType="com.kgc.vo.MedicineVO">
        SELECT b.*,o.quantity,o.totalPrice,o.code,o.providerId,bpt.type AS providerName,
        b.createBy,b.createTime,b.updateBy,b.updateTime,
        un.name as unitName,mc.name as categoryName,
        (SELECT userName FROM sys_user u WHERE b.createBy=u.userId)
        as createByName, (SELECT userName FROM sys_user u WHERE b.updateBy=u.userId) as updateByName,
        p.price AS purchasePrice,
        o.sourceCode,o.id as medicineOrderId
        from base_medicine b,
        base_unit un,base_medicine_category mc,order_medicine o,base_provider bp,base_provider_type bpt,provider_medicine p
        where  o.medicineId=b.id and b.categoryId=mc.id and b.unitId=un.id and o.providerId = bp.id and bp.type = bpt.id and b.isDel=0 and un.isDel=0 and mc.isDel=0
        and p.providerId = o.providerId  and o.medicineId = p.medicineId
        #         FROM base_medicine m,order_medicine o
        #         WHERE o.medicineId=m.id
        AND o.code=#{code}
    </select>
    <select id="findProductsByCategoryId"  resultType="BaseMedicine">
        SELECT * FROM base_medicine WHERE categoryId = #{categoryId}
    </select>
    <select id="getAllBaseMedicineList" resultType="BaseMedicine">
        select DISTINCT * FROM base_medicine where isDel=0
    </select>
</mapper>
