<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.dao.BaseMedicineMapper">

    <select id="getBaseMedicineListByPage" resultType="BaseMedicine">
        select b.id,b.name,categoryId,unitId,salePrice,specification,warning,b.createBy,b.createTime,b.updateBy,b.updateTime,
            un.name as unitName,mc.name as categoryName,
            c.userName as createByName,u.userName as updateByName
        from base_medicine b
            LEFT JOIN sys_user c on b.createBy=c.userId
            LEFT JOIN sys_user u on b.updateBy=u.userId,
            base_unit un,base_medicine_category mc
        where b.categoryId=mc.id and b.unitId=un.id and b.isDel=0 and c.isDel=0 and u.isDel=0 and un.isDel=0 and mc.isDel=0
        <if test="id!=null and id>0">and b.id=#{id}</if>
        <if test="name!=null and name!=''">and b.name like concat('%',#{name},'%')</if>
        <if test="categoryId!=null and categoryId>0">and categoryId=#{categoryId}</if>
        <if test="specification!=null and specification!=''">and specification like concat('%',#{specification},'%')</if>
        <if test="unitId!=null and unitId>0">and unitId=#{unitId}</if>
    </select>




</mapper>
