<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.dao.UnitMapper">
    <select id="getUnitListByPage" resultType="com.kgc.entity.BaseUnit">
        select b.*,
               (SELECT userName FROM sys_user u WHERE b.createBy = u.userId) AS 'createUserName',
               (SELECT userName FROM sys_user u WHERE b.updateBy = u.userId) AS 'updateUserName'
        from base_unit b
        WHERE b.isDel = 0
    </select>
</mapper>
