<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.dao.BaseMedicineCategoryMapper">


    <select id="getAllCategoryList" resultType="com.kgc.entity.BaseMedicineCategory">
        select  id, name, c.createBy,u.createBy as createUser ,c.createDate, c.updateBy, c.updateDate, c.isDel, parentId from  base_medicine_category c ,sys_user u where c.createBy=u.userId and c.isDel=0 and c.parentId=0
    </select>
    <select id="checkCatByName" resultType="com.kgc.entity.BaseMedicineCategory">
        select  id, name, c.createBy,u.createBy as createUser ,c.createDate, c.updateBy, c.updateDate, c.isDel, parentId from  base_medicine_category c ,sys_user u where c.createBy=u.userId and c.isDel=0 and name=#{name}
    </select>
    <select id="checkCatById" resultType="com.kgc.entity.BaseMedicineCategory">
        select  id, name, c.createBy,u.createBy as createUser ,c.createDate, c.updateBy, c.updateDate, c.isDel, parentId from  base_medicine_category c ,sys_user u where c.createBy=u.userId and c.isDel=0 and id=#{id}
    </select>
    <select id="checkCatByIdLst" resultType="com.kgc.entity.BaseMedicineCategory">
        select  id, name, c.createBy,u.createBy as createUser ,c.createDate, c.updateBy, c.updateDate, c.isDel, parentId from  base_medicine_category c ,sys_user u where c.createBy=u.userId and c.isDel=0 and parentId=#{parentId}
    </select>

    <select id="findChildrenCategoriesByParentId" resultType="com.kgc.entity.BaseMedicineCategory">
    SELECT * FROM base_medicine_category WHERE parentId = #{parentId} and isdel=0
    </select>
</mapper>