<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.dao.CgrkOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kgc.entity.CgrkOrder">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="medicinePrice" property="medicineprice" />
        <result column="purchaseId" property="purchaseid" />
        <result column="remark" property="remark" />
        <result column="datetime" property="datetime" />
        <result column="approverBy" property="approverby" />
        <result column="approvalStatus" property="approvalstatus" />
        <result column="approverRemark" property="approverremark" />
        <result column="isAddWarehouse" property="isaddwarehouse" />
        <result column="documenterBy" property="documenterby" />
        <result column="voidState" property="voidstate" />
        <result column="createDate" property="createdate" />
        <result column="createBy" property="createby" />
        <result column="updateDate" property="updatedate" />
        <result column="updateBy" property="updateby" />
        <result column="isDel" property="isdel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, medicinePrice, purchaseId, remark, datetime, approverBy, approvalStatus, approverRemark, isAddWarehouse, documenterBy, voidState, createDate, createBy, updateDate, updateBy, isDel
    </sql>

</mapper>
