<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.dao.CwAccountsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kgc.entity.CwAccounts">
        <id column="id" property="id" />
        <result column="accountsCategoryId" property="accountscategoryid" />
        <result column="cost" property="cost" />
        <result column="orderId" property="orderid" />
        <result column="createTime" property="createtime" />
        <result column="modificationTime" property="modificationtime" />
        <result column="createBy" property="createby" />
        <result column="modificationBy" property="modificationby" />
        <result column="isDel" property="isdel" />
        <result column="bankAcountId" property="bankacountid" />
        <result column="description" property="description" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, accountsCategoryId, cost, orderId, createTime, modificationTime, createBy, modificationBy, isDel, bankAcountId, description
    </sql>

</mapper>
