<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.dao.KcInventoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kgc.entity.KcInventory">
        <id column="id" property="id" />
        <result column="createdate" property="createdate" />
        <result column="createby" property="createby" />
        <result column="code" property="code" />
        <result column="medicineid" property="medicineid" />
        <result column="medicinename" property="medicinename" />
        <result column="originalcount" property="originalcount" />
        <result column="nowcount" property="nowcount" />
        <result column="result" property="result" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, createdate, createby, code, medicineid, medicinename, originalcount, nowcount, result, remark
    </sql>

</mapper>
